.ng-pristine.ng-invalid.ng-touched {
    border-color: #dc3545;
}

.yamlForm {
    .form-label {
        width: 30%;
        &:first-letter {
            text-transform: uppercase
        }
    }
    strong {
        display: block;
        margin-bottom: 15px;
    }
    small {
        display: none;

        &:first-letter {
            text-transform: uppercase
        }
    }

    .text-danger {
        small {
            display: block;
        }
    }
}